{% extends 'autodidact/layout.html'%}
{% block title%}Онлайн-школа "Самоучка"{% endblock %}

{% block content%}
    <div class="features">
        <h1>Онлайн-школа "Самоучка"</h1>
        <p>
            Мы инновационная онлайн-школа, специализирующаяся на обучении информационных технологий.
            Наша миссия - предоставить доступное, гибкое и качественное образование для всех, кто хочет изучать IT, независимо от их предыдущего опыта или образования.
            Мы предлагаем широкий спектр курсов, включая веб-разработку, программирование, анализ данных, искусственный интеллект, машинное обучение и многое другое.
            Наши курсы разработаны опытными преподавателями и профессионалами в области IT, которые знают, как сделать сложные концепции понятными и доступными.
            Каждый курс включает в себя видеоуроки, практические задания и проекты, которые помогут студентам применять свои новые навыки в реальных ситуациях.
            В Онлайн-школе "Самоучка" мы верим в то, что образование - это ключ к успеху в современном мире технологий.
            Мы стремимся помочь нашим студентам достичь своих целей и стать следующим поколением лидеров в области IT.
            Присоединяйтесь к нам и начните свое обучение уже сегодня.
        </p>
        <a href="{% url 'courses' %}">
        <button class="btn btn-warning">Выбрать курс</button>
        </a>
    </div>
{% endblock %}
